<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment(title = 'マイページ', scripts = ~{::script}, links = ~{::link})">
	<!-- Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<h1>マイページ</h1>
	<div class="container-fluid">
		<div class="row">
			<!-- Sidebar -->
			<nav class="sidebar col-md-3 col-lg-2 d-md-block bg-light">
				<div class="position-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" href="/user/report">
								日報を書く
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								プロフィール
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								予定を追加
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								設定
							</a>
						</li>
					</ul>
				</div>
			</nav>

			<!-- Main content -->
			<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
				<div class="text-center">
					<p th:text="'こんにちは、 ' + ${user.name} + 'さん'"></p>
					<div id="weatherMark"></div>
					<div id="weatherInfo"></div>
				</div>
				<div th:object="${userData}">
					<div class="row mx-md-n5">
						<div class="col-2 pt-3 border bg-light">ユーザーID</div>
						<div class="col pt-3 border">
							<p th:text="*{username}"></p>
						</div>
					</div>
					<div class="row mx-md-n5">
						<div class="col-2 pt-3 border bg-light">名前</div>
						<div class="col pt-3 border">
							<p th:text="*{name}"></p>
						</div>
					</div>
					<div class="row mx-md-n5">
						<div class="col-2 pt-3 border bg-light">住所</div>
						<div class="col pt-3 border">
							<p th:text="*{address}"></p>
						</div>
					</div>
					<div class="row mx-md-n5">
						<div class="col-2 pt-3 border bg-light">電話番号</div>
						<div class="col pt-3 border">
							<p th:text="*{phone}"></p>
						</div>
					</div>
					<div class="row mx-md-n5">
						<div class="col-2 pt-3 border bg-light">パスワード</div>
						<div class="col pt-3 border">
							<p>非表示</p>
						</div>
					</div>
				</div>
				<br />
				<div class="text-center">
					<a th:href="@{/user/{id}/edit(id=*{id})}" class="btn btn-primary">　編集　</a>
					<a href="/user/list" class="btn btn-secondary">一覧を見る</a>
				</div>
			</main>
		</div>
	</div>

	<!-- Bootstrap JS and jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script src="/js/openweathermap.js"></script>
</body>

</html>