@charset "UTF-8";

table {
	width: 90%;
	border-collapse: collapse;
	font-size: 12px;
}

table th,
table td {
	border: 1px solid #ddd;
	padding: 6px;
}

table th {
	background-color: #F2F2F2;
}

.center {
	text-align: center;
}

.search-bar {
	display: flex;
	justify-content: center;
}

.search-bar form {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 1000px;
}

.left {
	text-align: left;
}

.vertical-align-middle {
	display: flex;
	align-items: center;
	justify-content: center;
}

#weatherInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* 縦方向にアイテムを配置 */
}

.sidebar {
	background-color: #343a40;
	/* ダークテーマの背景色 */
	color: #ffffff;
	/* テキストの色 */
	padding-top: 48px;
}


.sidebar .nav-link {
	color: #495057;
	/* リンクの色 */
}

.sidebar .nav-link:hover {
	color: #ffffff;
	/* ホバー時のリンクの色 */
	background-color: #495057;
	/* ホバー時の背景色 */
}

.sidebar .nav-link.active {
	color: #ffffff;
	/* アクティブなリンクの色 */
	background-color: #495057;
	/* アクティブなリンクの背景色 */
}